<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="styles/profile copy.css">
    <title>Profile</title>
</head>

<body>
    <main id="/profile">
        <div class="profilehome">
            <a href="/">Home</a>
        </div>
        
        <section class="hero">
            <img src=" <%= locals.image %> " alt="Profile Image">

            <a href="/upload">Upload Image</a>
        </section>

        <section class="heroDetails">
            <div class="name">
                <h1>User Name</h1>
                <p>
                     <%= locals.username %>
                </p>
            </div>

            <div class="email">
                <h2>User Email</h2>
                <p><%= locals.emailid %>
                </p>
            </div>

            <div class="userId">
                <h2>User Id</h2>
                <p><%= locals.useridtitie %><%= locals.userid %>
                </p>
            </div>

            <div class="userOrders">
                <a href="/myorders" target="_blank" rel="noopener noreferrer">My Orders</a>
                <a href="" target="_blank" rel="noopener noreferrer">My Payment History</a>
            </div>


            <div class="userloginsignup">
                <a href="/login">Login</a>

                <a href="/signup">Signup</a>

                <a href="/logout">LogOut</a>
            </div>
        </section>
    </main>
</body>

</html>